<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ceehack.trust"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.android.ceehack.trust.ActivityMain"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.android.ceehack.trust.ActivityParty"
            android:label="@string/title_activity_activity_party" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.ceehack.trust.ui.MainSelectorActivity"
            android:label="@string/title_activity_main_selector" >
        </activity>
    </application>

</manifest>
